.about-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2% 0;

    h1 {
        font-size: 4rem;
        text-align: center;
        font-family: @reg-font;
        width: 100%;
    }

    h2 {
        font-family: @reg-font;
    }

    p {
        font-size: 1.5rem;
        padding: 5%;
    }

    .icons {
        display: flex;
        margin: 2%;
        a {
            font-size: 3rem;
            color: black;
            text-align: center;
            width: 50%;
        }
    }

    #pl {
        width: 95%;

        h2 {
            font-size: 3rem;
        }

        p {
            font-size: 2rem;
        }
    }

    .about-box {
        display: flex;
        width: 45%;
        background: whitesmoke;
        border: 1px solid black;
        margin: 2% 0;
        padding: 2%;

        img {
            width: 100%;
            border-radius: 50%;
        }

        .name-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 2%;

            h2 {
                font-size: 2rem;
            }

            p {
                width: 35%;
                font-size: 1.5rem;
                font-family: monospace;
                background: @bg-color;
                color: white;
                text-align: center;
                padding: 2%;
                border-radius: 5px;
            }
            
        }
    }

}