.about-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    h1 {
        font-size: 4rem;
        text-align: center;
        font-family: @reg-font;
        width: 100%;
    }

    h2 {
        font-size: 3rem;
        font-family: @reg-font;
    }

    p {
        font-size: 2rem;
    }

    a {
        font-size: 3rem;
        color: @bg-color;
        text-align: center;
    }

    #pl {
        width: 100%;
    }

    .about-box {
        display: flex;
        width: 45%;
        background: lightgrey;

        img {
            width: 100%;
        }
    }
}