.header(@size) {
    font-size: @size;
    font-family: @reg-font;
}

.button(@size, @width) {
    font-size: @size;
    text-decoration: none;
    color: black;
    background-color: @bg-color;
    border:1px solid black;
    border-radius: 5px;
    padding: 2% 3%;
    margin-top: 5%;
    font-family: @reg-font;

    &:hover {
    background-color: white;
    color: @bg-color;
    }
}